/* Contact Page */

.blurb {
    height: 100px;
    width: 1600px;
    justify-content: center;
    margin: 0 auto;
}

h1 {
    font-size: 80px;
    font-family: italAra, serif;
    letter-spacing: 20px;
    justify-content: center;
    margin-top: -200px;
}

.contactWrapper {
    width: 100%;
    height: 900px;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    margin-top: -500px;
}

.contactImage {
    width: 375px;
    height: 600px;
    margin-left: 240px;
    margin-top: 40px;
}

.contactImage img {
    object-fit: cover;
    height: 100%;
    border: #563a72;
    border-radius: 3%;
    border-style: solid;
    border-width: 10px;
}

.contactBox {
    width: 870px;
    height: 900px;
    display: grid;
    margin: 0 auto;
    margin-left: 110px;
    justify-content: center;
}

.contactBox .input {
    width: 870px;
    height: 100px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 60px;
}

.name {
    width: 405px;
    border-style: hidden hidden solid hidden;
    border-color: #00799191;
}

.email {
    width: 870px;
    border-style: hidden hidden solid hidden;
    border-color: #00799191;
}

.contactBox .inputLarge {
    width: 870px;
    height: 300px;
}

.inputLarge .messageBox {
    height: 230px;
    margin-top: 35px;
    border-style: solid;
    border-color: #00799191;
}

.input a {
    color: #007991;
}

.button {
    width: 180px;
    margin-right: -300px;
    margin-top: -100px;
    margin-bottom: -50px;
    justify-self: center;
    align-content: center;
}

.button p {
    border-style: solid;
    border-radius: 30px;
    border-color: #00799191;
    padding: 20px;
    height: 70px;
    text-align: center;
    line-height: 80%;
}

.linkedIn {
    width: 370px;
    justify-self: center;
    align-content: center;
    margin-left: -45px;
    margin-top: -100px;
    margin-bottom: -50px;
}