button {
  cursor: pointer;
  margin-top: 100px;
}

#gallery {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
  gap: 15px;
  padding: 25px;
  margin: 0 auto;
  margin-top: -1850px;
  margin-bottom: 60px;

}

.projects {
  overflow: hidden;
  position: relative;
  width: 600px;
  height: 600px;
}

.projects img {
  position: absolute;
  width: 600px;
  height: 600px;
  border: #563a72;
    border-radius: 3%;
    border-style: solid;
    border-width: 10px;
}

.projects video {
  position: absolute;
  width: 600px;
  height: 600px;
  background-color: #563a72;
  object-fit: contain;
  border: #563a72;
    border-radius: 3%;
    border-style: solid;
    border-width: 10px;
}

.projects h4 {
  margin-top: -200px;
}

.projects p {
  position: absolute;
  text-align: center;
  font-size: 24px;
  padding: 30px;
  letter-spacing: 2px;
  z-index: 3;
  color: #CEE5F2;
  margin-top: 50px;
}

.projects:hover .overlay {
  transform: translateY(0%);
}

.overlay {
  background: #007991d8;
  height: 100%;
  grid-column: 1/-1;
  grid-row: 1/-1;
  display: grid;
  justify-items: center;
  align-items: center;
  transform: translateY(101%);
  transition: all 0.3s ease-in-out;
}

.overlay button {
  background: none;
  outline: none;
  font-weight: 100;
  letter-spacing: 2px;
  border: 1px solid #ffffff;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px;
}
.overlay button:hover {
  transition: all 0.3s ease-in-out;
  background: #ffffff;
  color: #CEE5F2;
  transform: scale(1.05);
}
