/* Landing */

.secContent {
   margin: 0 auto;
   justify-items: center;
   text-align: center;
   margin-top: 40px;
}

.secContent p {
    height: 265px;
    width: 1150px;
    font-size: 24px;
    margin-top: 35px;
    margin-bottom: 60px;
}

.secContent h1, h2, h3 {
    margin-bottom: 48px;
}

h1 {
    font-size: 150px;
    font-family: italAra, serif;
    letter-spacing: 20px;
}

h2 {
    font-size: 35px;
    font-family: regAra, serif;
    letter-spacing: 15px;
}

h3 {
    font-size: 64px;
    font-family: italAra, serif;
    letter-spacing: 20px;
}

/* Work */

.work {
    margin: 0 auto;
    justify-items: center;
    width: 100%;
    margin-top: -150px;
}

.clipHeader h3 {
    margin-bottom: 35px
}

.workClip {
    height: 755px;
    width: 100%;
}

.workClip video {
    object-fit: cover ;
    width: 100%;
    height: 755px;
}

.workDesc p {
    text-align: center;
    margin-top: 35px;
    font-size: 24px;
    width: 1620px;
}

/* Workspace */

.workTwo {
    margin: 0 auto;
    justify-items: center;
    margin-top: 1150px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    gap: 55px;
}

.spaceHeader h3 {
    margin-bottom: -20px;
}

.spaceContent {
    width: 1620px;
    height: 585px;
}

.spaceContent img {
    width: 100%;
    height: 585px;
    object-fit: contain;
}


#end {
   height: 560px;
   margin-top: -110px; 
}