* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

html, body {
 height: 100%;
 font-family: regAra, serif;
 background-color: #CEE5F2;
 scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
 margin-bottom: 16px;
 font-weight: lighter;
 color: #007991;
}

p {
    color: #563a72;
    font-size: 30px;
    font-family: regAra, serif;
    line-height: 140%;
    letter-spacing: 1.5px;
}

a {
    text-decoration: none;
    font-weight: lighter;
}

@font-face {
    font-family: regAra;
    src: url(fonts/Arapey-Regular.ttf);
}

@font-face {
    font-family: italAra;
    src: url(fonts/Arapey-Italic.ttf);
}

@font-face {
    font-family: boldCor;
    src: url(fonts/Corinthia-Bold.ttf);
}

nav {
  height: 100px;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 1000;
  background-color: #62A87C;
  box-shadow: 0px 3px 6px #3f6b4f8e;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
}


nav a {
  color: #CEE5F2;
  margin-right: 100px;
  margin-left: 150px;
}

.logo {
    font-size: 60px;
    font-family: boldCor;
    text-align: center;
    letter-spacing: 28px;
    line-height: 0.9;
    color: #CEE5F2;
}

.links {
    font-size: 30px;
    font-family: regAra, serif;
    display: flex;
}

.section {
    height: 100%;
    display: flex;
    padding-top: 50px;
    margin: 0 auto;
    background-color: #CEE5F2;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.quote {
    width: 1485px;
    height: 165px;
    margin-top: -500px;
}

.quote h1 {
    font-size: 48px;
    font-family: regAra, serif;
    text-align: center;
    line-height: 140%;
    letter-spacing: 3px;
}

.quote h2 {
    font-size: 96px;
    font-family: italAra, serif;
    text-align: center;
    line-height: 140%;
    letter-spacing: 10px;
}

/* Home Page */

.home {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 auto;
    height: 1650px;
    width: 1486px;
    margin-bottom: 200px;
    margin-top: -400px;
}

.container {
    height: 1625px;
    width: 708px;
    margin-right: 70px;
    display: grid;
    grid-template-rows: auto;
    row-gap: 50px;
}

.wrapper {
    width: 708px;
    height: 850px;
    margin-bottom: 100px;
    margin: 0 auto;
}

.content {
    margin: 0 auto;
    width: 708px;
    height: 425px;
}

.content img {
    width: 708px;
    height: 425px;
    object-fit: cover;
    border: #563a72;
    border-radius: 3%;
    border-style: solid;
    border-width: 10px;
}

.content video {
    width: 708px;
    height: 425px;
    object-fit: cover;
    border: #563a72;
    border-radius: 3%;
    border-style: solid;
    border-width: 10px;
}

.text {
    width: 708px;
    height: 275px;
    margin-top: 25px;
    margin-bottom: 20px;
    text-align: center;
}

.text p {
    margin-bottom: 10px;
    text-align: center;
}

.text .border {
    width: 600px;
    height: 5px;
    margin: 0 auto;
    background-color: #563a72;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}

audio {
    width: 600px;
    height: 25px;
    margin-top: -8px;
}

/* Footer */

footer {
    background-color: #62A87C;
    width: 100%;
    align-items: center;
}

.footerContent {
    align-items: center;
    justify-content: space-evenly;
    padding: 25px;
    display: flex;
}

.footerContent a {
    color: #CEE5F2;
    font-size: 28px;
    line-height: 2.5;
    padding-left: 50px;
    padding-right: 20px;
}

.leftLinks {
    width: 180px;
    margin-left: 350px;
}

.footerContent .logo {
    width: 655px;
    padding-top: 10px;
}

.rightLinks {
    width: 180px;
    margin-right: 350px;
}