/* About Page */

.aboutQuote {
    margin-top: 450px;
}

.aboutContainer {
    width: 1485px;
    height: 100%;
    margin-top: -850px;
}

.infoContainer {
    height: 575px;
    margin-bottom: 60px;
}

.infoContainer h3 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 40px;
    letter-spacing: 3px;
}

.infoContainer p {
    margin-bottom: 20px;
}

#bio {
    height: 875px;
}

#about {
    height:720px;
}

/* Skills */

h4 {
    font-size: 35px;
    text-decoration: underline;
}

.bullColumn {
    display: grid;
    grid-template-columns: auto auto;
   
}
.bullets {
    margin-left: 300px;
}

.bullets h4 {
    margin-left: -25px;
    margin-bottom: 40px;
}

ul {
    color: #563a72;
    font-size: 30px;
    font-family: regAra, serif;
    line-height: 140%;
    letter-spacing: 1.5px;
}

ul li {
    margin-bottom: 50px;
}

ul li::marker {
  color: #007991;
}

/* Education */

.eduBox {
    height: 100px;
    width: 1485px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

.eduBox .text {
    height: 50px;
    width: 700px;
}

.text1 p {
    margin-right: 50px
}

.text2 p {
    margin-left: 50px
}