/* Projects Page */

  /* UI / UX */

.uixHeader {
 margin-top: 500px;
}

.uixProjects {
    margin-top: -1000px;
    width: 1000px;
    height: 1000px;
}

.slideshow-container {
  width: 1000px;
  height: 625px;
  margin: 0 auto;
}

.mySlides {
  display: none;
}

.fade img {
object-fit: contain;
width: 100%;
height: 625px;
}

.prev:hover, .next:hover {
  background-color: #007991d8;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

  /* Sound */

.soundHeader {
    margin-top: -700px;
}

.soundProjects {
    margin-top: -1500px;
}

.soundHome {
    display: grid;
    grid-template-columns: auto;
    margin: 0 auto;
    height: 1650px;
    width: 1486px;
}

.soundContainer {
    height: 750px;
    width: 708px;
    margin-right: 70px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 60px;
}

audio {
    width: 600px;
    height: 25px;
    margin-top: -8px;
}

  /* Graphic */

.graphicHeader {
    margin-top: -2200px;
}

#projectsText {
    justify-self: center;
}